<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actor add</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
      </figure>
    <h1 class="titulo">Agregar Actor</h1>
    <br>
    <section class="formulario">
        <form action="/actors/create" method="POST">
            <label for="first_name">Nombre </label>
            <p><input type="text" name="first_name" id="" required></p>
            <label for="last_name">Apellido</label>
            <p><input type="text" name="last_name" id="" required> </p>
            <label for="rating">Rating </label>
            <p><input type="number" name="rating" id="" required></p>
            <br>
            <p> <button class="botonAgregar" type="submit">Agregar Actor</button>
            
            <a  class="botonVolver" href="/movies">Listado de Actores</a></p>
        </form>
    </section>
    
</body>

</html>